services:
  api:
    build:
      context: ./backend
      dockerfile: docker/Dockerfile
    ports:
      - 8000:8000
    volumes:
      - ./backend:/app
      - /app/.venv
    environment:
      - DATABASE_URL=mysql+pymysql://root:password@db:3306/mydatabase
    command: ["uv", "run", "fastapi", "dev", "--host", "0.0.0.0", "--port", "8000"]
    depends_on:
      - db
      - opensearch
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: mydatabase
    ports:
      - 3309:3306
    volumes:
      - mysql-data:/var/lib/mysql

  opensearch:
    image: opensearchproject/opensearch:2
    environment:
      - discovery.type=single-node
      - plugins.security.disabled=true
      - OPENSEARCH_INITIAL_ADMIN_PASSWORD=Admin123!
    ports:
      - 9205:9205
    volumes:
      - opensearch-data:/usr/share/opensearch/data

volumes:
  mysql-data:
  opensearch-data:

